---
export interface Props {
    title: string,
    body: string,
    href: string,
}
const {href, title, body} = Astro.props;
---

<a href={href} class="group">
	<div class="card bg-base-100 border border-secondary-content group-hover:border-primary-focus">
		<div class="card-body">
			<h2 class="card-title group-hover:text-primary-focus">{title}</h2>
			<p>{body}</p>
		</div>
	</div>
</a>